<div class="event">

	<div id="search">	
		<form action="<%= events_url %>" method="get">
	    <label for="keyword">Search:</label>
	    <input type="search" name="keyword" size="30">
	  </form>
	</div>

	<h2 class="event">Concert Listings in <%= @city %></h2>



<%#= will_paginate  %>

<% @events.each do |event| %>
				
		<div>
			
			<% if event["image"][3]["content"] == nil %>
				<p class="event">No Photo Available</p>
			<% else %>
				<img class="event" src="<%= event["image"][3]["content"] %>" />
			<% end %>
			
		</div>
		
			<p>
				<strong>Headliner:</strong> <%= link_to event["artists"]["headliner"],
																		artist_path(event["artists"]["headliner"]) %></br> 
				
				<% if event["artists"]["artist"].class == String  %>
					<strong>Full Lineup:</strong> <%= event["artists"]["artist"] %></br>
				<% else %>
					<strong>Full Lineup:</strong> <%= event["artists"]["artist"].join(", ") %></br> 
				<% end %>
				
				<% if event["venue"]["website"] == {} %>
					<strong>Venue:</strong> <%= event["venue"]["name"] %><br>
				<% else %>	
					<strong>Venue:</strong> <%= link_to event["venue"]["name"], event["venue"]["website"] %><br>
				<% end %>
				
				<% if event["venue"]["location"]["street"] == {}%>
					<strong>Location:</strong> No Location Specified!<br>
				<% else %>
					<strong>Location:</strong> <%= event["venue"]["location"]["street"] %> 
					<% unless event["venue"]["location"]["postalcode"] == {} %> 
						<%= event["venue"]["location"]["postalcode"] %>
					<% end %>	
				
					<% unless event["venue"]["location"]["city"] == {} %>
						<%= event["venue"]["location"]["city"] %></br>
					<% end %>
				<% end %>
				
				<strong>Date:</strong> <%= event["startDate"] %>	<br>
				
				<% if event["website"] == {} %>
					<strong>Sorry Tickets Are Unavailable!</strong><br>
				<% else %>
					<%= link_to "Get Tickets!", event["website"] %>	<br>
				<% end %>
				
			<%# info = @lastfm.event.get_info([event["id"]]) %>
			<div class="clearfix"><br></div>
		</p>
		<% end %>
	
</div>

