<h2>Concert Listings in <%= @city %></h2>

<%#= will_paginate  %>

<% @events.each do |event| %>
	<body class="event">
	<div>
		<div>
		<img class="event" src="<%= event["image"][3]["content"] %>" />
	</div>
	<p>
		<%= link_to event["artists"]["headliner"], artist_path(event["artists"]["headliner"]) %></br> 
		<%= link_to event["venue"]["name"], event["venue"]["website"] %><br>
		<% if event["venue"]["location"]["street"] == {}%>
			No Location Specified!<br>
		<% else %>
		<%= event["venue"]["location"]["street"] %></br>
		<% end %>
		<%= event["startDate"] %>	<br>
		<% if event["website"] == {} %>
			Sorry Tickets Are Unavailable!<br>
		<% else %>
			<%= link_to "Get Tickets!", event["website"] %>	<br>
		<% end %>
	<%# info = @lastfm.event.get_info([event["id"]]) %>

	<div class="clearfix"><br>
	</body>
<% end %>


